*{
  margin: 0%;
  padding: 0%;
  font-family: inter;
}
main{
  min-height: 100vh;
  max-width: 100%;
  overflow-y: auto;
}
section{
  margin-top: 4%;
}

.light{
  background-color: #ECEFF1;
}

.dark .navbar{
  background-color: #3498DB;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1E88E5;
  height: 60px;
  padding: 0 5%;
  position: sticky;
  top: 0px;
}

.navbar .title{
  color: white;
  font-weight: 700;
  font-size: 1.3em;
  margin: auto 0;
}
.navbar .theme-icon{
  color: white;
  font-size: 25px;
  cursor: pointer;
}
.navbar .light-mode, .dark-mode p{
  margin: auto 0;
  display: flex;
  color: white;
}
.navbar .dark-mode p{
  color: white;
}

.dark .navbar .title{
  color: #EAEAEA ;
}
form textarea{
  width: 70%;
  height: 4rem;
  display: block;
  margin: auto;
  padding: 5px;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid #bfbdbd;
  outline: none;
}

.dark form textarea{
  background-color: #ddd8d8;
}

.modal{
  margin: auto;
  position: absolute;
  top: 60px;
  left: 0%;
  right: 0%;
  display: block;
  text-align: center;
  font-size: 1.1em;
  font-weight: 350;
  width: fit-content;
  background-color: white;
  border-radius: 5px;
}

.modal p{
  margin: 1rem;
}
.no_task{
  color: rgb(194, 37, 37);
}
button{
  margin: auto;
  background-color: white;
  margin-top: 2%;
  color: #333333;
  display: block;
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  font-size: 1.1em;
  border: 1px solid #bfbdbd;
  font-weight: 700;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;

}
button:hover{
  transform: scaleX(1.1);
}
.submit{
  box-shadow: 5px 5px 4px #1E88E5;
  cursor: pointer;
}
.intro{
  text-align: center;
  color: white;
  color: #3498DB;
  margin-bottom: 4px;
}
.tasks{
  width: 90%;
  display: grid;
  margin: 5rem auto;
  gap: 2rem;
  margin-top: 2%;
}

.tasks .task{
  background-color: white;
  height: fit-content;
  min-height: 100px;
  padding: 20px;
  min-width: 40%;
  position: relative;
  border-radius: 8px;
  box-shadow: 0px 11px 25px 2px rgba(0, 0, 0, 0.14);
  transition-property: transform;
  transition-duration: 0.9s;
  transition-timing-function: ease-in-out;
}
.tasks .task:hover{
  transform: translateY(-5px);
  cursor: pointer;
}
.tasks .task .note{
   display: block;
   margin-bottom: 50px;
}
.dark .tasks .task{
  background-color: #bfbdbd; 
}

.tasks .task .buttons{
  position: absolute;
  display: flex;
  bottom: 20px;
  right: 20px;
}
.tasks .task button{
  background-color: rgb(237, 94, 94);
  color: white;
  font-size: 0.8em;
  font-weight: 500;
  border: none;
  
}
.tasks .task .Done{
  background-color: #3498DB;
  color: white;
  margin-right: 5px ;
}
.tasks .task button:hover{
  opacity: 0.9;
}
.date{
  margin-top: 10px;
  position: absolute;
  bottom: 20px;
  font-size: 14px;
  opacity: 0.6;
  left: 20px;
}
/* .tasks .task button::second */

/* DARK MODE */
.dark{
  /* background-color: #333333; */
  background-color: #121212;
}

.dark button{
  color: #333333;
}

.loader{
  background-color: #1E88E5;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* END OF DRAK MODE */

@media  screen and (min-width: 760px) {
  .tasks{
    grid-template-columns: repeat(3, 1fr);
  }
  
}
@media  screen and (max-width: 900px) {
  .tasks{
    grid-template-columns: repeat(2, 1fr);
  }
} 
@media  screen and (max-width: 760px) {
  .title{
    font-size: 0.9em;
    font-weight: 500;
  }
  .tasks{
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    margin-top: 10%;
  }
  
  .tasks .task{
    margin-bottom: 0.5rem;
    text-align: center;
    overflow-x: scroll;
  }
  
  .navbar .light-mode, .dark-mode p{
    font-size: 0.5em;
  }
  
}